<div class="container d-flex justify-content-center" style="margin-top: 100px; margin-bottom: 100px">
    <div class="row" style="min-width: 70%">
        <div class="col-md-12">

            <div class="card card-comments">
                <div class="card-body card-comments-body" style="background-color: #fecea8">
                    <h4 class="card-title">Recent Comments</h4>
                    <h6 class="card-subtitle">Latest Comments section by users</h6> </div>

                <div class="comment-widgets m-b-20">

                    {% if article.comments is empty %}
                        <div class="d-flex flex-row comment-row">
                            <div>
                                <p>No comments yet!</p>
                            </div>
                        </div>
                    {% else %}
                    {% for comment in article.comments %}
                    <div class="d-flex flex-row comment-row" style="background-color: #ffeada">
                        <div class="p-2"><span class="round"><img src="{{ comment.user.profile_photo }}" alt="{{ comment.user.fullName }}" width="50"></span></div>
                        <div class="comment-text w-100">
                            <h5>{{ comment.user.fullName }}</h5>
                            <div class="comment-footer">
                                <span class="date">{% if comment.updatedAt is empty %}
                                {{ comment.createdAt | date('Y-m-d H:i:s') }}
                                    {% else %}
                                {{ comment.updatedAt }}
                                    {% endif %}
                                </span>
                            </div>
                            <p class="m-b-5 m-t-10">{{ comment.message }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="p-2 d-flex" style="background-color: #fecea8">
                    <div class="d-flex align-items-center" style="margin-right: 15px">
                        <img class="rounded-circle" src="/assets/images/Profile/{{ app.user.profile_photo }}" width="100" height="100" alt="">
                    </div>

                    {{ form_start(form) }}
                    <div class="d-flex flex-column align-items-center">
                        {{ form_row(form.message) }}
                        {{ form_row(form.PostComment) }}
                    </div>
                    {{ form_end(form) }}

                </div>

            </div>
        </div>
    </div>
</div>