<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white" style="color: white">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/assets/images/logos/Logo-T-Store-Square-No-Slogan.png" height="60px" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-dark" id="main_nav">
            <ul class="navbar-nav bg-dark">
                <li class="nav-item active"> <a class="nav-link" href="/">Home </a> </li>
                <li class="nav-item"><a class="nav-link" href="/contact"> Contact </a></li>
                <li class="nav-item"><a class="nav-link" href="/about"> About </a></li>
                <li class="nav-item"><a class="nav-link" href="/"> Articles </a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">Categories</a>
                    <ul class="dropdown-menu">
                                {% for category in app.session.get('categories') %}
                                <li><a class="dropdown-item" href="/category/{{ category.slug }}">{{ category.name }} ({{ category.articles | length }} articles)</a></li>
                                {% endfor %}
                    </ul>
                </li>
            </ul>
        </div> <!-- navbar-collapse.// -->
        {% if app.user %}
            <div class="login logout">
                Welcome {{ app.user.userIdentifier }} <a class="button ml-2" href="{{ path('app_logout') }}">Logout</a>
            </div>
            {% else %}
                <a class="button ml-2" href="{{ path('app_login') }}">Login</a>
        {% endif %}
    </div> <!-- container-fluid.// -->
</nav>