{% extends 'base.html.twig' %}

{% block body %}
        <div><img src="{{ article.image_url }}" width="100%" alt="{{ article.title }}"></div>

        <div class="articleHeader d-flex flex-column align-items-center" style="background-color: #e0e0e0">
            <h2 class="mt-2 ">{{ article.title }}</h2>
            <p>{{ article.author.fullName }}</p>
            {% if article.updatedAt is empty%}
            <p>{{ article.createdAt | date('d/m/y') }}</p>
                {% for category in article.categories %}
                    <p><i><b>{{ category.name }}</b> {{ category.articles | length }} articles with this category.</i></p>
                {% endfor %}
            {% else %}
            <p>Updated at: {{ article.updatedAt | date('d/m/y H:i') }}.</p>
            {% endif %}
        </div>

        <div class="articleContent">
            {{ article.content|raw }}
        </div>


{% endblock %}