{% extends 'base.html.twig' %}

{% block body %}
        <div><img src="{{ article.image_url }}" width="100%" height="600px" alt="{{ article.title }}"></div>

        <div class="articleHeader d-flex flex-column align-items-center" style="background-color: #4A4A4A; color: #fecea8; object-fit: cover; object-position: center">
            <h2 class="mt-2 ">{{ article.title }}</h2>
            <p>{{ article.author.fullName }}</p>
            {% if article.author.profile is defined %}
                <p class="card-text"><img src="{{ article.author.profile.picture }}" height="50" width="50" style="border-radius: 100px; border: 1px solid rgba(29,29,29,0.04); margin-right: 10px;" alt="">{{ article.author.fullName }}</p>
            {% else %}
                <p class="card-text"><img src="/assets/images/Profile/defaultProfilePicture.jfif" height="50" width="50" style="border-radius: 100px; border: 1px solid rgba(29,29,29,0.04); margin-right: 10px;" alt="">{{ article.author.fullName }}</p>
            {% endif %}
            {% if article.updatedAt is empty%}
            <p>{{ article.createdAt | date('d/m/y') }}</p>
            {% else %}
            <p>Updated at: {{ article.updatedAt | date('d/m/y H:i') }}.</p>
            {% endif %}
            {% for category in article.categories %}
                <p><i><b>{{ category.name }}</b> {{ category.articles | length }} articles with this category.</i></p>
            {% endfor %}
        </div>



        <div class="articleContent" style="background-color: #ffeada; color: #4A4A4A;">
            <div style="margin: 50px">{{ article.content|raw }}</div>
        </div>

    {% include 'includes/commentSection.html.twig' %}

{% endblock %}